
  .section {
    padding: 4em;
    border: 2px solid orange;
    font-size: 1.5em;
  }

  body {
    display: flex;
  }

  .sidebar {
    flex: 0 0 20%; 
    background-color: lightgray; 
    height: 100vh; 
  }

  .section {
    flex: 1; 
  }
